@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Instructor
@{
    string status = Model.IsTenured == true ? "Permanent" : "Probationary";
    var today = DateTime.Now;
}


<h1>Instructor Details</h1>

<table class="table table-dark table-hover">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Is Tenured</th>
        <td>@status</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.InstructorRank</td>
    </tr>
    <tr>
        <th>Hiring Date</th>
        <td>@Model.HiringDate</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>


</table>
